<%= flex_position(message) do %>
  <div class="message-box bg-light my-2 px-3 pt-3 shadow-sm rounded border"
       id="message-<%= message.id %>"
  >
    <div class="text-break">
      <%= message.content %>
      <p class="text-right">
        <small class="text-muted">
          <%= message.author %>
          <%= l(message.created_at, format: :short) %>
        </small>
      </p>
    </div>
    <div class="previews">
    <%= render message.previews %>
    </div>
  </div>
<% end %>
