<div data-controller="chat">

<p>
  Welcome <%= Current.username %>! <%= link_to "Log Out", login_path, method: :delete %>
</p>

<%= form_with model: Message.new,
              id: "chat_form",
              data: {
                target: "chat.form"
              } do |f|
%>
  <div class="form-row">
    <%= f.text_field :content, class: "form-control", placeholder: "💬" %>
  </div>
<% end %>

<div id="messages" data-target="chat.messages" class="mt-3">
  <%= render @messages %>
</div>

</div>
