<div id="chat" data-controller="chat" data-chat-username="<%= Current.username %>">
  <div class="container" id="navbar-container">
    <div id="navbar" class="py-3 d-flex align-items-center justify-content-between">
      <div class="d-flex" id="logos">
        <%= link_to "https://www.lewagon.com" do %>
          <%= image_tag "wagon-logo.png", width: 50, class: "p-1" %>
        <% end %>
        <%= link_to "https://www.digitalocean.com" do %>
          <%= image_tag "do-logo.png", width: 50, class: "p-1" %>
        <% end %>
      </div>
      <div id="chat-title">
        <p class="h3">
          Rails on
          <%= link_to "DOKS", "https://www.digitalocean.com/products/kubernetes/"%>
          Demo
        </p>
      </div>
      <div>
        <strong><%= Current.username %></strong> |
         <%= link_to "Log Out", login_path, method: :delete %>
      </div>
    </div>
  </div>

  <div class="container" id="messages-container">
    <div id="messages" data-target="chat.messages">
      <%= render @messages %>
    </div>
  </div>

  <div class="container px-0" id="chat-controls-container">
    <div id="chat-controls" class="p-4">
      <%= form_with model: Message.new,
                    id: "chat_form",
                    html: {
                      autocomplete: "off"
                    },
                    data: {
                      target: "chat.form"
                    } do |f|
      %>
        <div class="form-row">
          <div class="col-xs-12 col-sm-10">
            <%= f.text_field :content,
                             class: "form-control",
                              placeholder: "💬 This chat supports URL previews (e.g., lewagon.com)"
            %>
          </div>
          <div class="col" id="chat-submit">
            <%= f.submit "🚀", class: "btn btn-outline-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
