<!DOCTYPE html>
<html>
  <head>
    <title>Le Wagon x Digital Ocean Rails k8s demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container mt-4">
      <h1>Le Wagon x Digital Ocean Rails-k8s Demo</h1>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
